body{
    font-family: 'century gothic', Calibri, serif;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}

header{
    height: 100px;
}

footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid #aaa;
}

nav{
    width: 100%;
    background-color: #424558;
}

nav ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
    float: left;
}

nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.table{
    display: table;
    margin:  0 auto;
}

img{
    width: 100%;
    
}
.menu-ind:hover, .presentation{
    border-top: 5px solid #4c8;
    background-color: rgba(64, 200, 130, 0.15);
}

.menu-exp:hover, .parcours{
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}

.menu-hob:hover, .competences{
    border-top: 5px solid #0070bb;
    background-color: rgba(000, 112, 191, 0.15);
}

.menu-con:hover, .recommandation{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}

nav li:hover a{
    padding: 15px 30px 20px 30px;
}

section{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sec{
    margin: 0px 10%;
}
.left{
    float: right;
    width: 30%;
}
.right{
    float: right;
    width: 70%;
    font-style: italic;
    font-weight: bolder;
} 

.cleft, .cright, .sousleft, .sousright{
    width: 50%;
    float: left;
}

.reco{
    margin: 0px 10%;
}
.sec::after, .exp::after, .reco::after{
    content: "";
    display: table;
    clear: both;
}

.orange{
    border-top: 5px solid #e47d26;
    background-color: rgba(228, 77, 38, 0.15);
    margin-bottom: 0px;
}
.rose{
    border-top: 5px solid #e44d96;
    background-color: rgba(228, 77, 128, 0.15);
}
.vert{
    border-top: 5px solid #5f6;
    background-color: rgba(70, 240, 80, 0.15)
}
.bleu{
    border-top: 5px solid #29c;
    background-color: rgba(30, 152, 212, 0.15);
}
.jaune{
    border-top: 5px solid #f3e241;
    background-color: rgba(240, 255, 69, 0.15);
}
.rouge{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}
.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width: 50%;
    float: left;
    margin-left: 5%;
}
.leftexp img{
    width: 70%;
    max-width: 400px;
}
.cont{
    margin: 0px 10%;
}

.formulaire
{
    margin: 0px 10%;
	background:pink;
	width: 65%;
	height: 70vh;
    border-radius: 5%;
}
nav h1{
	animation: none;
	color: #fff;
}
form{
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
	flex-direction: column;
	padding: 30px;
}

.block1, .block2, .block3{
	position: relative;
	display: inline-flex;
	width: 70%;
	height: 15%;
	margin: 20px;
}
.Element{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin: 0 2%;
}
#block3
{
	display: inline-block;
	text-align: left;
	padding: 2%;
	margin: 3%;
	width: 35%;

}
textarea
{
	cursor: pointer;
	padding: 0%;
    background-color: palevioletred;
	width: 250px;
	border: solid rgba(0, 0, 0, 0.7) 2px;
	border-radius: 15px;
	box-shadow: 10px 10px 0px 1px rgb(0,0,0,0.7);	
}
input
{
	cursor: pointer;
	padding: 2%;
	background-color: palevioletred;
	width: 250px;
	border: solid rgb(0,0,0,0.7) 2px;
	border-radius: 15px;
	outline-color: white;
	box-shadow: 10px 10px 0px 1px rgb(0,0,0,0.7);
}
form button
{
	cursor: pointer;
	color: white;
	background-color: pink;
	border: solid rgb(0,0,0,0.7) 2px;
	border-radius: 60px;
	box-shadow: 10px 10px rgb(0,0,0,0.7);
	width: 200px;
	align-items: center;
	max-height: 35px;
	padding: 2%;
}

button:hover{
	background-color: #fff;
	color: black;
}

label
{
	color: white;
	margin-left: 20px;
}

@media screen and (max-width: 780px){
    header{
        height: 50px;
        float: left;
    }
    
    h1{
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a{
        font-size: 12px;
        padding: 10px;
    }
    nav li:hover a{
        padding: 5px 10px 10px 10px;
    }
}